.text{
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-image: url(https://media.timeout.com/images/101714607/image.jpg);
   
}


*{
    margin: 0;
}

.I{
    font-size: 50px;
    text-align: center;
    color:#f6fafb;
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-family:'Poppins';
}

.G{
    width: 400px;
    height: 400px;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 250px;
    float: left;
}

.F{
    display: inline-flex;
    flex-wrap: wrap;
    float: left;
    text-align:start;
    margin-top: 25px;
}

.Add input{
    border-color:#d49c6b;
    color:#252b31;
    margin: 0;
    padding: 5px;
    margin-left: 20px;
    border-radius: 9px;
    width: 500px;
    height: 25px;
}

.AddM input{
    border-color:#d49c6b;
    color:#252b31 ;
    margin: 0;
    padding: 5px;
    margin-left: 20px;
    border-radius: 9px;
    width: 500px;
    height: 100px;
}

label{
    margin-left: 20px;
    font-size: 10px;
    font-family:'Poppins';
}

.Send{
    margin-top: 0px;
    font-family:'Poppins';
}

h3{
    margin-left: 150px;
    font-family:'Poppins';
}

.sub input{
    background-color:#d49c6b;
    color:#f6fafb;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    display: block;
    

}
