*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 1000px) {
    .main-container-shop{
        width: 90%;
    }
    .left-container-shop{
        float: left;
        width: 70%;
        height: 100px;
    }
}

.main-container-shop{
    margin: 40px;
}

.left-container-shop{
    float: left;
    width: 250px;
    height: 2000px;
}

.left-container-shop a{
    text-decoration: none;
    color: #252b31;
}

.slider {
    width: 80%;
}

.shop-categories ul{
    list-style-type: none;
    margin-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.dot:hover{
    border: #252b31 solid;
}

.red {
    background-color: red;
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}

.yellow{
    background-color: yellow;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.orange{
    background-color: orange;
}

.green{
    background-color: green;
}

.sort p{
    text-align: right;
    color: #7f8685;
}

.shop-filter{
    margin-top: 60px;
}

.filter{
    margin-top: 20px;
    margin-bottom: 20px;
}

.shop-product{
    display: flex;
    flex-basis: 45%;
}

.product{
    margin-top: 5px;
    margin-bottom: 100px;
    position: relative;
    display: block;
}

.image img{
    width: 80%;
    height: auto;
}

.image .overlay{
    opacity: 0;
    transition: .5s ease;
}

.info{
    background-color: white;
    z-index: 1;
    position: absolute;
    width: 80%;
}

.block{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    width: 80%;
    height: 100%;
    display: flex;
}

.overlay .heart{
    width: 6%;
    height: auto;
    position: absolute;
    top: 3%;
    right: 25%;
    transition: .3s ease;
    cursor: pointer;
}

.overlay .hov{
    opacity: 0;
}

.overlay .hov:hover{
    opacity: 1;
}

.Add{
    position: absolute;
    bottom: 10%;
    left: 20%;
    background-color: #252b31;
    width: 40%;
    color: #f6fafb;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease;
} 

.overlay:hover{
    opacity: 1;
}

.Add:hover{
    background-color: #d49c6b;
    font-weight: bold;
}

#halaman{
    margin-left: 19%;
    margin-top: 20px;
}

.page{
    text-align: center;
    padding: 8px;
    margin-right: 5px;
    cursor: pointer;
}

.page2{
    color: rgb(110, 108, 108);
}

.page2:hover{
    background-color: #252b31;
    color: #f6fafb;
}


@media (max-width: 1000px){
    .Add{
        font-size: 15px;
    }
    .info h3{
        font-size: 15px;
    }
    .info h4{
        font-size: 12px;
    }
    .sort p{
        font-size: 12px;
        margin: 5px 0;
    }
}

@media (max-width: 886px){
    .Add{
        font-size: 10px;
    }
}

@media (max-width: 726px){
    .Add{
        font-size: 8px;
    }
}

@media (max-width: 670px) {
    .Add{
        font-size: 10px;
    }
    .main-container-shop{
        width: 80%;
    }
    .left-container-shop{
        float:none ;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    .sort p{
        text-align: left;
        margin: 5px 0 5px 0;
    }
    #halaman{
        margin-left: 5%;
    }
    .sort p{
        margin: 10px 0;
    }
    .image img, .block{
        width: 90%;
        margin-left: 10%;
    }
    .overlay .heart{
        right: 5%;
    }
    .Add{
        margin-left: 13%;
    }
    .info{
        margin-left: 10%;
    }
}

@media (max-width: 505px){
    .Add{
        font-size: 8px;
        padding: 4px;
    }
}

@media (max-width: 433px){
    .Add{
        font-size: 5px;
        padding: 3px;
    }
    .info h3{
        font-size: 12px;
    }
    .info h4{
        font-size: 10px;
    }
}

@media (max-width: 390px){
    .image img, .block, .overlay .heart, .Add, .info{
        margin-left: 0;
    }
}
